<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Azi tu Mâine eu", root_path, class: "navbar-brand" %>
    </div>

    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <% if user_signed_in? %>
            <%= link_to("Postare nouă", new_post_path) %>
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
            <%= link_to('Ieșire', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to('Înregistrare', new_user_registration_path) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
